html {
    overflow: auto;
    margin: 0;
    font-family: sans-serif;
}

html, body, div, iframe {
    margin: 0px;
    padding: 0px;
    height: 100%;
    border: none;
}


#tdmenu {
    width: 300px;
    background-color:whitesmoke;
    text-align:center;
    vertical-align:top;
    height: 950px;

}
#tdcontent {
    width: auto;
    vertical-align: top;
    
}

iframe {
    margin-left: 20px;
    margin-top: 10px;

    display: block;
    width: 100%;
    border: none;
    overflow-y: hidden;
    overflow-x: hidden;
    height: 900px;
}

table {
    width: 100%;
    table-layout: fixed;
}

ul {
  padding: 0;
  width: 100%;
}

li {
  display: inline;
}

a {
  outline: none;
  text-decoration: none;
  display: inline-block;
  width: 50%;
  margin-top: 5%;
  text-align: center;
  line-height: 2.2;
  color: black;
}

li:last-child a {
  margin-right: 0;
}

a:link, a:visited, a:focus {
    background: #58595B;
    color: whitesmoke;
}

a:hover {
    background: #6593A6;
}

a:active {
    background: #A3A5A8;
    color: black;
}